##Assignment Practice

# New Section

In [ ]:
# This is my first google colab assignement
# Here are some calculations you can carry out with python

#Multiply
num = 2 * 5
num

#modulus 
4%10

#you can also import data in csv format on colab to work/manipulate using the pandas library

#Import pandas
import pandas as pd
#function to read the data
our_data = pd.read_csv("/content/class.csv")
#calling the variable we stored our data
our_data

           Student                        Email  ...         Reason  Notes
0    Anita Kahenya      anitakahenya1@gmail.com  ...            NaN    NaN
1   Timothy Munene      munenegicharu@gmail.com  ...            NaN    NaN
2      Alex Otieno      alexotieno900@gmail.com  ...            NaN    NaN
3      Brian Ngige  brianjeremy123789@gmail.com  ...            NaN    NaN
4   Victor Siderra      siderravictor@gmail.com  ...            NaN    NaN
5      Noble Mungu         mungunoble@gmail.com  ...  IP Submission    NaN
6    Albert Obwoge    albertnyambegaa@gmail.com  ...  IP Submission    NaN
7      Peter Alvin         nivlapeter@gmail.com  ...  IP Submission    NaN
8   Phoebe Gichuhi     phoebegichuhi4@gmail.com  ...  IP Submission    NaN
9      Cindy Muema           katmuema@gmail.com  ...  IP Submission    NaN
10       Ouko Ezra           oukoezzy@gmail.com  ...  IP Submission    NaN
11   Amwata Otieno     albertotieno41@gmail.com  ...  IP Submission    NaN

[12 rows x 9 columns]